<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div *ngFor=" let pair of course | keyvalue">
    {{pair.key + ': ' + pair.value }}
</div>
<!-- {{ courses | json }} --> <!-- pipe per accendere al file json -->

<!-- HTML APP PRINCIPALE DOVE AGGIUNGERE I COMPONENTI -->
<div class="demo">
    <div>Start Date: {{ startDate | date: 'MM/dd/yy' }}</div> <!-- Le pipe in questo caso, date, ci permette di formattare meglio la nostra data -->

    <div>{{ title | titlecase }}</div>
    <div>{{ price | currency : 'EUR' }}</div>

</div>
<div class="courses">
    <!-- Ciclo for in Angular utilizzanto *ngFor -->
    <course-card 
        *ngFor="let course of courses;index as i;"
        (courseSelected)="onCourseSelected($event)" 
        [course]="course" [cardIndex]="i + 1">
    </course-card>



</div>

